<% content_for :title, "Create Your MedBook Account" %>

<div class="registration-container">
  <div class="registration-box">
    <div class="registration-header">
      <h1>Create Account</h1>
      <p>Join MedBook to manage your Medical journey</p>
    </div>

    <%= render "form", user: @user %>

    <div class="registration-footer">
      Already have an account? <%= link_to "Login", login_path, class: "login-link" %>
    </div>
  </div>
</div>
